#
# Documentation is here: http://git-scm.com/docs/gitignore
#
#
# For vim temporary files
#
*.swp
.~lock.*
.*~
*~

tmp/

#
# For all the files we do not want to check in:
#
Site/friends/clubs
Site/friends/philleese/Archived_Highlights
Site/friends/philleese/Contact_Sheets/Pages
Site/friends/philleese/Highlights/Pages
Site/friends/philleese/Older_Highlights/Pages
Site/friends/vpg
Site/friends/yolanda

Site/photo_batches/jjam
Site/photo_batches/shows
Site/photo_batches/vpg
Site/photo_batches/yolanda

Site/images
Site/published

